<div id="products-section" class="products-section" (scroll)="onScroll($event)">
  <div class="main-section">
    <div class="product-section" *ngFor="let product of productData; let i=index" [ngClass]="(i<pagination.to)?'productListed':'productNotListed'">
      
      <div *ngIf="i<pagination.to">
        <div class="image-section">
          <img src="./assets/shirt_temp.jpg" />
        </div>
        <div class="product-title">
          <div class="product-name">{{product.name}} - &#8377;{{product.price}}</div>
          <div class="add-to-cart">
            <a class="fa fa-cart-plus" title="Add product" href="javascript:void(0)" (click)="addProductToCart(product)"></a>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <app-pagination [pagination]="pagination"></app-pagination>
</div>